<div class="container">
  <div class="row">
    <div class="col-lg-6 d-flex flex-column justify-content-center">
      <h1
        class="text-center aos-init aos-animate"
        data-aos="fade-up"
        data-aos-once="true"
      >
        Custom Software Development
      </h1>
      <h2
        class="text-center aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-once="true"
      >
        if something is worth doing everyday, it's worth building a tool for
        it<br />
      </h2>
      <div class="text-left text-center text-lg-start">
        <a
          class="text-left btn-get-started d-inline-flex align-items-start justify-content-center align-self-center aos-init aos-animate"
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="100"
          href="#contact"
          ><span>Get Started<i class="fas fa-arrow-right"></i></span
        ></a>
      </div>
    </div>
    <div class="col-lg-6 hero-img">
      <img
        class="img-fluid floating"
        src="/assets/img/hero-img.png?h=89bab6543bb0c34dcbef3b0b8dab4705"
        style="margin-left: 0px"
        alt=""
      />
    </div>
  </div>
</div>
